/* web site main banner carousel  */
/* carousel item background image   */

/* carousel item-1  */
.carousel-item1-bg-image-sizing{
    background:linear-gradient( rgba(0, 0, 0, 0.7) 100%, rgba(0, 0, 0, 0.7) 100%),
    url('images/cover/cover-1.png');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}
/* carousel item-2  */
.carousel-item2-bg-image-sizing{
    background:linear-gradient( rgba(0, 0, 0, 0.7) 100%, rgba(0, 0, 0, 0.7) 100%),
    url('images/cover/cover-2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
/* carousel item-3  */
.carousel-item3-bg-image-sizing{
    background:linear-gradient( rgba(0, 0, 0, 0.7) 100%, rgba(0, 0, 0, 0.7) 100%),
    url('images/cover/cover-3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}